venv/
.venv/
__pycache__/
*.pyc
.env
instance/
*.sqlite3
models/*.h5
static/uploads/
.vscode/
dist/
build/
*.egg-info/
Dockerfile
\.dockerignore
mobile_app/node_modules/
mobile_app/package-lock.json
static/.venv/
*.tflite
